<div class="p-8 bg-plpmLightGray">
  <div class="bg-plpmDarkGray">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8">
      <div
        class="p-4 bg-plpmDarkGray rounded-md flex items-center justify-center"
      >
        <img class="" src="./assets/images/img_sermon.svg" alt="" />
      </div>

      <div id="form" class="px-6 py-4 bg-plpmDarkGray">
        <div *ngFor="let d of contacts">
          <div class="flex-container lg:gap-[14px]">
            <div class="fa-ul ml-5 md:ml-8">
              <li>
                <span>{{ d.time?.day }}</span>
              </li>
            </div>

            <div class="fa-ul ml-5 md:ml-8">
              <li>
                <span class="pad-left">{{ d.time?.author }}</span>
              </li>
            </div>
          </div>
          <div>
            <p id="upcoming_events">{{ d.title }}</p>
          </div>
          <div id="text">
            <p>{{ d.text }}</p>
          </div>
          <div class="my-3 max-h-[150px] overflow-clip">
            <p id="text1">{{ d.text1 }}</p>
          </div>
        </div>
        <button
          class="bg-[#27ae60] text-white font-normal text-[15px] px-3 py-2 flex gap-1 cursor-pointer"
          type="button"
          [routerLink]="'1'"
        >
        <span>View Blog Details</span>
        <img
          class="h-[12px] mt-1"
          src="/assets/images/arrow-right.png"
          alt="arrow/png"
        />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <h1 id="event-upcoming">ALL SERMONS</h1>
</div>

<div class="px-14 md:px-16 py-20 bg-plpmLightGray">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-10">
    <div class="column" *ngFor="let event of events">
      <sermon-thumbnail [event]="event"></sermon-thumbnail>
      <div class="flex justify-end">
        <button
          class="text-white font-normal text-[15px] px-2 py-2 bg-[#27ae60]"
          type="button"
        >
          View sermon
        </button>
      </div>
    </div>
  </div>
</div>
