

<body>

    <section class="first" >
        <div class="content-center">
            <p class=" mt-40"><strong>ABOUT US</strong> </p>
            <h2>SERVING THE WORLD AROUND US</h2>

        </div>
       
    
    </section>
    
    <section class="second">
        <p>WELCOME TO OUR CHURCH</p>
        <h2>LOVE AND COMPASSION</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est atque assumenda labore quae eos fugit molestias asperiores maxime vitae laborum architecto rem quod, consequuntur totam nam modi voluptas aut optio! Iusto culpa hic quasi ratione esse expedita illum quibusdam alias molestias eveniet harum voluptatum optio quae ipsum, id, nostrum libero!</p>
    
    </section>

    <section class="third">
        <img src="./../../../assets/a-bearded-man-praying-5206040.svg" class="pray">
        <img src="./../../../assets/man-and-woman-reading-book-while-sitting-on-pews-8468470.svg " class="pray-x">
        <img src="./../../../assets/people-sitting-on-brown-pews-8674151.svg" class="pray">

    </section>

    <section class="fourth">
        <div>
            <p>OUR MISSION & VISION</p>
            <h2>STRIVING FOR A BETTER TOMORROW</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur blanditiis officiis exercitationem soluta alias dolorem cupiditate obcaecati. Dolores, debitis possimus soluta provident libero quibusdam magni voluptate repellat fugiat exercitationem minima commodi optio accusantium quas id deserunt officia cum reiciendis, qui iure iste maiores. Fugit laudantium maiores, ut tempore eveniet consequuntur.</p>

        </div>
        <div>
            <p>WHAT WE DO</p>
            <h2>BRINGING PEACE AND JOY TO THE WORLD</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur blanditiis officiis exercitationem soluta alias dolorem cupiditate obcaecati. Dolores, debitis possimus soluta provident libero quibusdam magni voluptate repellat fugiat exercitationem minima commodi optio accusantium quas id deserunt officia cum reiciendis, qui iure iste maiores. Fugit laudantium maiores, ut tempore eveniet consequuntur.</p>

        </div>
      
       
    </section>

    <section class="fifth">
        <p>BENEFITS</p>
        <h2>THE BENEFITS OF </h2>
        <h2>JOINING OUR CHURCH</h2>
    </section>

    <section class="sixth">
        <div>
            <h2>FIND FULFILLMENT AND JOY</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
        <img src="./../../../assets/3MWdi5_6Hrc.svg" class="joy">
    </section>

    <section class="small">
        <div>
            <h2>FIND FULFILLMENT AND JOY</h2>
            <img src="./../../../assets/3MWdi5_6Hrc.svg" class="joy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
       
    </section>

    <section class="sixth">
        <img src="./../../../assets/3Xmcv5MjZpw.svg" class="joy">
        <div>
            <h2>SHARED VALUES</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
        
    </section>
    <section class="small">
        
        <div>
            <h2>SHARED VALUES</h2>
            <img src="./../../../assets/3Xmcv5MjZpw.svg" class="joy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
        
    </section>
    <section class="sixth">
        <div>
            <h2>CHARITY EVENTS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
        <img src="./../../../assets/3MWdi5_6Hrc.svg" class="joy">
    </section>

    <section class="small">
        <div>
            <h2>CHARITY EVENTS</h2>
            <img src="./../../../assets/3MWdi5_6Hrc.svg" class="joy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
        
    </section>

    <section class="sixth">
        <img src="./../../../assets/3Xmcv5MjZpw.svg" class="joy">
        <div>
            <h2>ALL ARE WELCOME</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
        
    </section>
    <section class="small">
       
        <div>
            <h2>ALL ARE WELCOME</h2>
            <img src="./../../../assets/3Xmcv5MjZpw.svg" class="joy">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, eveniet dicta, alias magni sunt porro explicabo veniam laborum quibusdam eaque odit ut excepturi saepe expedita iusto dolores iure, aut ratione maiores id. Qui expedita pariatur totam, voluptatem ratione dolore provident.</p>
        </div>
        
    </section>

    

</body>


