<div class="p-8 bg-plpmLightGray">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8">

    <div class="bg-plpmLightGray">
      <img src="./assets/images/img_event_details.svg" alt="">
      <div class="p-6">
          <div *ngFor="let d of contacts">
            <app-box>
              <p id="upcoming_events" [className]="d.classNames">{{ d.title }}</p>
              <div id="text" [innerText]="d.text">
                <p [className]="d.classNames">{{ d.text }}</p>
              </div>

              <div id="text1" [innerText]="d.text1">
                <p id="text1" [className]="d.classNames">{{ d.text1 }}</p>
              </div>

              <div id="text2" [innerText]="d.text2">
                <p [className]="d.classNames">{{ d.text2 }}</p>
              </div>

              <div id="text3" [innerText]="d.text3">
                <p id="text3" [className]="d.classNames">{{ d.text3 }}</p>
              </div>
            </app-box>
        </div>
      </div>
    </div>


<div id="form" class="px-6 py-4 bg-plpmDarkGray">
        <form novalidate>
          <fieldset>
            <legend>REGISTER NOW</legend>
            <div class="location" *ngFor="let event of contacts">

                  <div class="flex-container"  *ngIf="event?.location">

                      <div class="fa-ul">
                        <li><span class="fa-li"><i class="fa fa-search"></i></span><span>{{event?.location?.address}}</span>
                          <span class="pad-left">{{event?.location?.city}},<br>{{event?.location?.country}}</span></li>
                      </div>

                      <div class="fa-ul">
                        <li><span class="fa-li"><i class="fa fa-clock-o"></i></span><span>{{event?.time?.time1}}</span>
                          <span class="pad-left">{{event?.time?.day}}</span></li>
                      </div>
                  </div>
              </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label"
              for="firstNameId">Full Name</label>
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="productNameId"
                  type="text"
                  placeholder="Leonard John"
                  required
                  minlength="3"
                  name="productName"
                />
                <span class="invalid-feedback"> </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 col-form-label"
              for="firstNameId">Email</label>
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="productCodeId"
                  type="text"
                  placeholder="admin@abc.com"
                  required
                  name="productCode"
                />
                <span class="invalid-feedback"> </span>
              </div>
            </div>

          </fieldset>

          <div class="form-group row">
            <div class="col-md-1">
              <button class="primary-btn btn" type="button">REGISTER NOW</button>
          </div>
          </div>
        </form>
    </div>

<!-- <div class="px-6 py-4">
      <div *ngFor="let d of contacts">
        <app-box>
          <p id="upcoming_events" [className]="d.classNames">{{ d.title }}</p>
          <div id="text" [innerText]="d.text">
            <p [className]="d.classNames">{{ d.text }}</p>
          </div>
          <p id="text1" [className]="d.classNames">{{ d.text1 }}</p>
          <div id="text2" [innerText]="d.text2">
            <p [className]="d.classNames">{{ d.text2 }}</p>
          </div>
          <p id="text3" [className]="d.classNames">{{ d.text3 }}</p>
        </app-box>
    </div>
  </div> -->
</div>
</div>

<div class="box">
<h1 id="event-upcoming">Upcoming Events</h1>
</div>

<div class="px-10 py-20 bg-plpmLightGray">
<div class="grid grid-cols-1 md:grid-cols-4 gap-x-6 gap-y-10">
      <div  class="column" *ngFor="let event of events">
        <event-thumbnail [event]="event"></event-thumbnail>
      </div>
</div>
</div>