<section id="footer">
  <div class="footer">
    <div class="texts">
      <div class="liberty-text">
        <h3>Perfect liberty power ministry</h3>
      </div>

      <div class="text-2">
        <a href="#"><span>(480) 555-0103</span></a>
        <span>4517 Washington Ave. </span>
        <a href="#"><span>finsweet@example.com</span></a>
      </div>
    </div>

    <div class="quicklinks-connect">
      <div class="quick-links">
        <h3>Quicklinks</h3>
        <div class="quick-links-content">
          <a href="#">About us</a>
          <a href="#">Sermons</a>
          <a href="#">Events</a>
          <a href="#">Blog</a>
        </div>
      </div>

      <div class="connect">
        <h3>Connect</h3>
        <div class="social-links">
          <a href="#"
            ><img src="assets/images/facebook.png" alt="facebooklogo"
          /></a>
          <a href="#"
            ><img src="assets/images/twitter.png" alt="twitterlogo"
          /></a>
          <a href="#"
            ><img src="assets/images/linked-in.png" alt="twitterlogo"
          /></a>
        </div>
      </div>
    </div>

    <div class="subscribe">
      <h2>Subscribe to get Latest Updates and News</h2>
      <div class="subscribe-form-container">
        <form class="subscribe-form">
          <input
            type="email"
            class="subscribe-input"
            placeholder="Enter email address"
          />
          <button class="subscribe-btn" matRipple>Subscribe</button>
        </form>
      </div>


      <!-- <form>
        <input />
        <button>Subscribe</button>
      </form> -->

      <!-- <form class="form-wrapper cf">
        <input type="text" placeholder="Search here..." required>
        <button type="submit">Search</button>
    </form> -->
    

    </div>
  </div>
</section>
