::ng-deep .box {
  display: flex;
  background-color: #e5e5e5;
}

::ng-deep .column {
  flex: 50%;
  padding: 10px;
  height: 300px;
  margin: 20px;
}

::ng-deep .column1 {
  flex: 50%;
  padding: 10px;
  height: auto;
  margin: 20px;
}

::ng-deep .next {
  flex: 50%;
  padding: 10px;
  height: 600px;
  margin: 20px;
}

::ng-deep .box #bannertitle {
  transform: translateY(90px);
  width: 63px;
  height: 19px;
  right: 1327px;
  top: 240px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-transform: uppercase;
  color: #ffd2a4;
}

::ng-deep .box #bannertext {
  transform: translateY(90px);
  width: 100%;
  height: 19px;
  right: 1327px;
  top: 240px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;

  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

::ng-deep .box #text {
  width: 100%;
  height: 56px;
  right: 396px;
  top: 780px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #161722;
}

::ng-deep .box #text1 {
  transform: translateY(5px);
  width: 100%;
  height: 24px;
  right: 541px;
  top: 868px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #1e1b1b;
  opacity: 0.7;
}

::ng-deep .box #text2 {
  transform: translateY(2px);
  width: 100%;
  height: 28px;
  left: 862px;
  top: 936px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.image-banner {
  position: absolute;
  width: 100%;
  height: 483px;
  left: 0px;
  top: 80px;

  background: url("/../assets/images/banner-contact.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

::ng-deep .box .column:nth-child(1) {
  width: 1500px;
  height: 483px;
  left: 0px;
  top: 80px;
}

::ng-deep .box .next:nth-child(1) {
  background: linear-gradient(to bottom, #e5e5e5 90%, #e5e5e5 10%);
}
::ng-deep .box .next:nth-child(2) {
  background: linear-gradient(to bottom, #e5e5e5 90%, #e5e5e5 10%);
}

::ng-deep .box p {
  width: 100%;
  height: 21px;
  right: 579px;
  top: 751px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1e1b1b;
  opacity: 0.7;
}

legend {
  width: 507px;
  height: 28px;
  right: 881px;
  top: 691px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1e1b1b;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

.btn {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 64px;
  gap: 16px;
  width: 100%;
  height: 64px;
  left: calc(50% - 624px / 2 - 328px);
  top: calc(50% - 64px / 2 + 335.5px);
  border-radius: 12px;
}

#text3 {
  width: 100%;
  transform: translateY(36px);

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1e1b1b;
  opacity: 0.7;
}

::ng-deep #icons {
  display: flex;
}

::ng-deep #icons img {
  margin-right: 45px;
  transform: translateY(37px);
}
