<div
  class="w-[90%] mx-auto lg:w-full hero-div h-[550px] flex justify-center items-center my-10"
>
  <div
    class="dialogg-box  w-[630px] flex items-center justify-around"
  >
    <div class="dialogg-box-content flex flex-col justify-start py-10">
                <h2>we want to serve the world around us</h2>
                <p></p>
    </div>
    <img
      class="w-[80px] h-[60px]"
      src="/assets/images/Quote icon.png"
      alt="Quote/png"
    />
  </div>
  <div class="w-[100%] lg:w-full h-[550px] overlay-gradient"></div>
</div>
