

nav {
    height:50px;
   width: 96%;
    margin: 0 auto;
    
}

body {
    height: 60px;
}


// @media screen and (max-width: 992px) {
//     .first {
//         width: 100%;
//         margin: 0px;
       
//     }
// }




 

