<body class="bg-white">
  <nav class="top-0 left-0 w-full shadow-lg">
    <div
      class="container m-auto flex justify-between text-plpmWhite md:text-black"
    >
      <div class="flex flex-row items-center ml-5 md:ml-8">
        <img
          class="h-[45px] cursor-pointer"
          src="/assets/images/perfectlogo.png"
          alt="Church/png"
        />
        <h1 class="py-4 text-larger font-bold text-black">PLPM</h1>
      </div>
      <ul
        class="hidden md:text-large lg:text-larger font-medium md:flex py-2 lg:py-0 cursor-pointer"
      >
        <li class="flex items-center">
          <a
            class="hover:bg-gray-200 py-4 px-6"
            [routerLink]="[Routes.home]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >HOME</a
          >
        </li>
        <li class="flex items-center">
          <a
            class="hover:bg-gray-200 py-4 px-6"
            [routerLink]="[Routes.about]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >ABOUT US</a
          >
        </li>
        <li class="flex items-center">
          <a
            class="hover:bg-gray-200 py-4 px-6"
            [routerLink]="[Routes.sermon]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >SERMON</a
          >
        </li>
        <li class="flex items-center">
          <a
            class="hover:bg-gray-200 py-4 px-6"
            [routerLink]="[Routes.blog]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >BLOG</a
          >
        </li>
        <li class="flex items-center">
          <a
            class="hover:bg-gray-200 py-4 px-6"
            [routerLink]="[Routes.event]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >EVENT</a
          >
        </li>
      </ul>
      <button
        class="hidden md:inline md:bg-plpmNavButton md:h-10 md:w-32 md:mt-2 md:text-large lg:text-larger font-semibold md:rounded-sm md:mr-8"
      >
        CONTACT US
      </button>

      <button
        class="block md:hidden py-3 pr-4 mx-2 rounded focus:outline-none hover:bg-gray-200"
        (click)="togglenavbarmobile()"
        *ngIf="!hidenavbar"
      >
        <div class="w-5 h-1 bg-black mb-1"></div>
        <div class="w-5 h-1 bg-black mb-1"></div>
        <div class="w-5 h-1 bg-black"></div>
      </button>
      <div
        *ngIf="hidenavbar"
        class="absolute z-[99] top-0 right-0 w-7/12 h-screen bg-plpmDark flex flex-col items-center transition-all duration-300"
      >
        <div class="absolute left-6">
          <button
            class="text-3xl background-none font-bold"
            (click)="togglenavbarmobile()"
          >
            &times;
          </button>
        </div>
        <ul
          class="flex flex-col items-center w-full text-base cursor-pointer pt-8"
        >
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.home]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >HOME</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.about]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >ABOUT US</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.sermon]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >SERMON</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.blog]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >BLOG</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.event]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >EVENT</a
            >
          </li>
        </ul>
        <button
          class="bg-plpmNavButton h-10 w-28 mt-2 text-base font-semibold text-large rounded-xl"
        >
          CONTACT US
        </button>
      </div>
      <div
        *ngIf="hidenavbar"
        class="absolute z-[99] top-0 right-0 w-7/12 h-screen bg-plpmDark border flex flex-col items-center transition-all duration-300"
      >
        <div class="absolute left-6">
          <button
            class="text-3xl border-0 background-none font-bold"
            (click)="togglenavbarmobile()"
          >
            &times;
          </button>
        </div>
        <ul
          class="flex flex-col items-center w-full text-base cursor-pointer pt-8"
        >
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.home]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >HOME</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.about]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >ABOUT US</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.sermon]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >SERMON</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.blog]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >BLOG</a
            >
          </li>
          <li class="flex items-center">
            <a
              class="hover:bg-gray-200 py-4 px-6"
              [routerLink]="[Routes.event]"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >EVENT</a
            >
          </li>
        </ul>
        <button
          class="bg-plpmNavButton h-10 w-32 mt-2 text-base font-semibold text-large rounded-sm"
        >
          CONTACT US
        </button>
      </div>
    </div>
  </nav>
</body>
