<section id="home-hero">
  <div class="hero-container">
    <div class="hero-texts md:pl-[6.875rem]">
      <p class="welcome">Welcome to our CHURCH</p>
      <h1 class="comm-texts">Become a part of our community</h1>
      <div class="button-div">
      <button class="primary-btn learn-more">Learn more</button>
      </div>
      <div class="last-text">
        <div class="line">
          <img src="/assets/images/Line.png " alt="line/png" />
        </div>

        <p class="last-text-1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
        </p>
      </div>
    </div>

    <div class="hero-img">
      <img img-fluid src="/assets/images/cross.png" alt="cross/png" />
    </div>
  </div>
</section>
