<swiper
  [navigation]="true"
  [pagination]="{
    dynamicBullets: true
  }"
  class="mySwiper w-[70%] mx-[15%] md:w-full md:mx-0"
>
  <ng-template class="h-[600px] bg-red-700 relative" swiperSlide>
    <plpm-video class="absolute h-full w-full"></plpm-video>
    <div
      class="flex flex-col items-center h-[600px] justify-center z-[1] text-white"
    >
      <h1 class="font-medium leading-[16px] text-[20px]">
        Giviing: Giving to God servant
      </h1>
      <p class="max-w-[48rem] font-bold leading-[32px] text-[36px] my-12">
        A word from God will librate your world come and get your word from God
      </p>

      <div class="flex justify-between items-center">
        <button></button>
        <div
          class="flex justify-center items-center bg-[#56ccf280] w-[50px] h-[50px] rounded-[50%] border-[1px] border-solid border-[#5CC0E2] zoom-out-div-1"
        >
          <div
            class="flex justify-center items-center bg-[#56ccf280] w-[40px] h-[40px] rounded-[50%] pl-2 border-[1px] border-solid border-[#5CC0E2] zoom-out-div"
          >
            <i class="fa fa-play text-2xl text-[#D9D9D9]"></i>
          </div>
        </div>
      </div>
    </div
    >
  </ng-template>
  <ng-template class="h-[600px] bg-red-700 relative" swiperSlide>
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="absolute h-full w-full" frameborder="0"
            height="315" src="https://www.youtube.com/embed/ntfxBg9E52Y?controls=0"
            title="YouTube video player"
            width="560"></iframe>

    <div
      class="flex flex-col items-center h-[600px] justify-center z-[1] text-white"
    >
      <h1 class="font-medium leading-[16px] text-[20px]">
        Giviing: Giving to God servant
      </h1>
      <p class="max-w-[48rem] font-bold leading-[32px] text-[36px] my-12">
        A word from God will librate your world come and get your word from God
      </p>

      <div class="flex justify-between items-center">
        <button></button>
        <div
          class="flex justify-center items-center bg-[#56ccf280] w-[50px] h-[50px] rounded-[50%] border-[1px] border-solid border-[#5CC0E2] zoom-out-div-1"
        >
          <div
            class="flex justify-center items-center bg-[#56ccf280] w-[40px] h-[40px] rounded-[50%] pl-2 border-[1px] border-solid border-[#5CC0E2] zoom-out-div"
          >
            <i class="fa fa-play text-2xl text-[#D9D9D9]"></i>
          </div>
        </div>
      </div>
    </div
    >
  </ng-template>
</swiper>
