
<body class="bg-plpmDark">

    <nav class=" flex justify-between items-center ">
        <header class="text-plpmWhite text-thin sm:text-larger font-medium">PLPM</header>
        <ul class="text-plpmWhite text-tiny sm:text-large flex justify-between  gap-6 sm:gap-11 ">
            <li>HOME</li>
            <li>ABOUT US</li>
            <li>SERMON</li>
            <li>BLOG</li>
            <li>EVENT</li>
        </ul>
        <button class="bg-plpmNavButton h-2 w-6 sm:h-9 sm:w-28 text-tiny sm:text-large rounded-sm sm:rounded-xl">CONTACT US</button>
        
    
    
    </nav>

</body>




