<div
  class="bg-white relative w-full items-center flex-col flex justify-center parent"
>
  <div
    class="divlabel w-[80%] flex justify-center items-center h-[90px] bg-[#FF4655] mt-14"
  >
    <h1 class="text-white font-bold text-2xl">GALLERY</h1>
  </div>
  <div class="flex w-[95%] mx-[2.5%] my-40 flex-wrap justify-center gap-3">
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (1).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (2).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (3).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (4).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (5).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (6).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (7).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (8).jpg" />
    <img class="md:w-[230px] w-[250px]" src="./assets/images/gallery (9).jpg" />
    <img
      class="md:w-[230px] w-[250px]"
      src="./assets/images/gallery (10).jpg"
    />
    <img
      class="md:w-[230px] w-[250px]"
      src="./assets/images/gallery (11).jpg"
    />
  </div>
</div>
