<div class="flex flex-col justify-center mb-8 upcomingevents">
  <div class="flex flex-col items-center mb-6 upcoming-headline">
    <label class="py-5 opacity-[0.78]">upcoming Events</label>
    <h2 class="mb-8">Come and get the word that will set you free</h2>
  </div>
  <div class="flex flex-col-reverse justify-center show-event lg:flex-row">
    <div class="flex justify-end gap-4 py-10 lg:hidden">
      <label>View all Sermaons</label>
      <img
        class="h-[12px] mt-1"
        src="/assets/images/arrow-right.png"
        alt="arrow/png"
      />
    </div>
    <div
      class="bg-[#56CCF2] h-[520px] lg:w-[390px] relative showevent-details flex flex-col items-center"
    >
      <div
        class="absolute right-[40px] top-4 flex items-center flex-col uppercase known-when"
      >
        <h5>16</h5>
        <label class="opacity-[0.78]">junly</label>
      </div>
      <div class="flex flex-col gap-5 pl-10 pr-20 mt-10 mx-14 known-details">
        <h3 class="mt-2">upcoming event</h3>
        <h5>singles affiars junly 2022 edition</h5>
        <p class="opacity-[0.78]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
       
        <div class="div-li">
          <img src="/assets/event/Clock icon.svg " alt="clock/svg" />
          <p class="max-w-[140px]">Friday 23:39 IST Saturday 11:20 ISD</p>
        </div>
        <div class="div-li">
          <img src="/assets/event/circle.svg " alt="circle/svg" />
          <p class="max-w-[140px]">No 233 Main St. New York,United State</p>
        </div>
        <button
          class="bg-[#161722] rounded-xl w-[160px] mt-5 py-4"
          type="button"
        >
          Register
        </button>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="show-event-img lg:w-[710px]"></div>
      <div class="justify-end hidden gap-4 py-10 lg:flex">
        <label>View all Sermaons</label>
        <img
          class="h-[12px] mt-1"
          src="/assets/images/arrow-right.png"
          alt="arrow/png"
        />
      </div>
    </div>
  </div>
</div>
