<section id="home-hero">
    <div class="hero-container">
        <div class="hero-texts">
            <p class="welcome">Welcome to our CHURCH</p>
            <h1 class="comm-texts">Become a part of our community</h1>
            <button class="primary-btn">Learn more</button>
            <div class="last-text">
                <div class="line">
                    <img src="/assets/images/Line.png " alt="line/png">
                </div>

                <p class="last-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
            </div>
        </div>

        <div class="hero-img">
            <img src="/assets/images/cross.png" alt="cross/png">
        </div>
    </div>
</section>

