#home-hero {
  .hero-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hero-texts {
    font-family: roboto Condensed;
    padding-left: 6.875rem;
    padding-top: 8rem;
    color: #0d0d0d;
  }
  .welcome {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .comm-texts {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0rem;
    max-width: 37rem;
  }

  button {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .last-text {
    display: flex;
    gap: 0.75rem;
  }
  // .border-line{
  //     border: 2px solid #2F80ED;
  //     transform: rotate(90deg);

  // }
  .line {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .last-text-1 {
    font-weight: 400;
    width: 19.25rem;
  }

  .hero-img {
    img {
      height: auto;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {

    #home-hero{
        .hero-texts{
            padding-left: 2.5rem;
        }
        
    }

    
}

@media screen and (max-width: 767.98px) {

    #home-hero{
        .hero-texts{
           
        }
        .welcome{
            text-align: center;
        }

        .comm-texts{
            font-size: 2.5rem;
        }
        
    }

    
}