<div
  class="bg-white relative w-full items-center flex-col flex justify-center parent"
>
  <div
    class="divlabel w-[80%] flex justify-center items-center h-[90px] bg-[#FF4655] mt-14"
  >
    <h1 class="text-white font-bold text-2xl">BIOGRAPHY</h1>
  </div>
  <div class="bg-[#0F1923] w-[90%] mx-[5%] my-20 flex justify-end items-center">
    <div
      class="w-[95%] lg:pb-0 pb-10 my-5 containerdiv flex flex-col lg:flex-row lg:gap-[3%]"
    >
      <div
        class="flex pt-10 lg:pb-5 flex-col-reverse lg:ml-[1%] lg:gap-0 gap-4 lg:w-[41%]"
      >
        <img src="./assets/images/daddy.png" alt="overseer" />
        <h1 class="mb-3 hero-text text-[#FF4655] text-center">
          REV GABRIEL ESROM
        </h1>
      </div>
      <div class="pt-10 flex flex-col lg:w-[54%]">
        <p class="text-white opacity-[0.7]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo sit
          error rem, mollitia doloremque voluptates, soluta cum animi ipsa natus
          harum asperiores ex corporis nemo magnam architecto amet odio!
          consectetur adipisicing elit. Rerum quo sit error rem, mollitia
          doloremque voluptates, soluta cum animi ipsa natus harum asperiores ex
          corporis nemo magnam architecto amet odio! consectetur adipisicing
          elit. Rerum quo sit error rem, mollitia doloremque voluptates, soluta
          cum animi ipsa natus harum asperiores ex corporis nemo magnam
          architecto amet odio!
        </p>
        <div class="flex lg:justify-start justify-center items-center">
          <div class="flex flex-col mt-4">
            <div class="flex gap-3 items-center mb-[5px]">
              <i class="fa fa-phone text-[#ffd2a4]" aria-hidden="true"></i>
              <h3 class="">Hot Line</h3>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-[#ffffff]">+23434860967</span>
              <span class="text-[#ffffff]">+23434860967</span>
            </div>
          </div>
        </div>

        <div class="flex mt-6 lg:mt-20 justify-center lg:justify-start">
          <div class="flex flex-col gap-3">
            <p class="text-[#FF4655] font-bold">Follow Reveren On:</p>
            <div class="gap-5 flex">
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="facebook"
              >
                <a
                  class="cursor-pointer"
                  target="blank"
                  href="https://web.facebook.com/perfectlibertypowerministry "
                  ><img
                    class="w-[15px]"
                    src="./assets/images/facebook.png"
                    alt="facebook"
                  />
                </a>
              </div>
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="linkedIn"
              >
                <a class="cursor-pointer" target="blank" href="#">
                  <img
                    class="w-[15px]"
                    src="./assets/images/linked-in.png"
                    alt="linkedIn"
                  />
                </a>
              </div>
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="twitter"
              >
                <a class="cursor-pointer" target="blank" href="#">
                  <img
                    class="w-[15px]"
                    src="./assets/images/twitter.png"
                    alt="twitter"
                  />
                </a>
              </div>
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="youtube Channel"
              >
                <a
                  target="blank"
                  href="https://www.youtube.com/channel/UC-qbPuKf5ioGpWn6i4YSPNg"
                  class="bg-[#ffd2a4] rounded-[50%] w-[15px] h-[19px] flex items-center justify-center cursor-pointer"
                >
                  <i
                    class="fa fa-youtube text-[#161722] text-[16px]"
                    aria-hidden="true"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#0F1923] w-[90%] mx-[5%] my-20 flex justify-end items-center">
    <div
      class="w-[95%] lg:pb-0 pb-10 my-5 containerdiv flex flex-col lg:flex-row lg:gap-[3%]"
    >
      <div
        class="flex pt-10 lg:pb-5 flex-col-reverse lg:ml-[1%] lg:gap-0 gap-4 lg:w-[41%]"
      >
        <img src="./assets/images/mummy.png" alt="overseer" />
        <h1 class="mb-3 hero-text text-[#FF4655] text-center">
          REV GABRIEL ESROM
        </h1>
      </div>
      <div class="pt-10 flex flex-col lg:w-[54%]">
        <p class="text-white opacity-[0.7]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo sit
          error rem, mollitia doloremque voluptates, soluta cum animi ipsa natus
          harum asperiores ex corporis nemo magnam architecto amet odio!
          consectetur adipisicing elit. Rerum quo sit error rem, mollitia
          doloremque voluptates, soluta cum animi ipsa natus harum asperiores ex
          corporis nemo magnam architecto amet odio! consectetur adipisicing
          elit. Rerum quo sit error rem, mollitia doloremque voluptates, soluta
          cum animi ipsa natus harum asperiores ex corporis nemo magnam
          architecto amet odio!
        </p>
        <div class="flex lg:justify-start justify-center items-center">
          <div class="flex flex-col mt-4">
            <div class="flex gap-3 items-center mb-[5px]">
              <i class="fa fa-phone text-[#ffd2a4]" aria-hidden="true"></i>
              <h3 class="">Hot Line</h3>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-[#ffffff]">+23434860967</span>
              <span class="text-[#ffffff]">+23434860967</span>
            </div>
          </div>
        </div>

        <div class="flex mt-6 lg:mt-20 justify-center lg:justify-start">
          <div class="flex flex-col gap-3">
            <p class="text-[#FF4655] font-bold">Follow Reveren On:</p>
            <div class="gap-5 flex">
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="facebook"
              >
                <a
                  class="cursor-pointer"
                  target="blank"
                  href="https://web.facebook.com/perfectlibertypowerministry "
                  ><img
                    class="w-[15px]"
                    src="./assets/images/facebook.png"
                    alt="facebook"
                  />
                </a>
              </div>
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="linkedIn"
              >
                <a class="cursor-pointer" target="blank" href="#">
                  <img
                    class="w-[15px]"
                    src="./assets/images/linked-in.png"
                    alt="linkedIn"
                  />
                </a>
              </div>
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="twitter"
              >
                <a class="cursor-pointer" target="blank" href="#">
                  <img
                    class="w-[15px]"
                    src="./assets/images/twitter.png"
                    alt="twitter"
                  />
                </a>
              </div>
              <div
                class="w-[25px] h-[25px] rounded-[8px] socio-icon flex justify-center items-center"
                title="youtube Channel"
              >
                <a
                  target="blank"
                  href="https://www.youtube.com/channel/UC-qbPuKf5ioGpWn6i4YSPNg"
                  class="bg-[#ffd2a4] rounded-[50%] w-[15px] h-[19px] flex items-center justify-center cursor-pointer"
                >
                  <i
                    class="fa fa-youtube text-[#161722] text-[16px]"
                    aria-hidden="true"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
