<body class="bg-plpmLightGray">
  <section class="first h-96 flex flex-col justify-center pl-20">
    <p class="text-large font-bold mb-1">EVENTS</p>
    <h3 class="text-lg md:text-3xl font-bold">TAKE PART IN OUR EVENT</h3>
  </section>

  <section class="second flex flex-col items-center">
    <p class="text-large mt-12 md:mt-24 font-semibold">UPCOMING SERMON</p>
    <h3 class="text-sm pl-3 md:text-3xl font-bold mt-2">
      JOIN US AND BECOME PART OF SOMETHING GREAT
    </h3>
  </section>

  <markdown
    [data]="event[0].data[0].attributes.details"
    class="variable-binding"
  ></markdown>

  <section
    class="third flex m-auto w-11/12 mt-14 flex-col md:flex-row md:justify-between"
  >
    <div class="card static md:relative bg-plpmCard w-full md:w-3/6 lg:w-2/6">
      <div class="text-right mr-8 pt-5 static xl:absolute top-6 right-4">
        <p class="font-bold text-2xl">14</p>
        <p class="font-medium text-sm">JANUARY</p>
      </div>
      <div class="card-content pl-16 pr-20 pb-10 static xl:absolute top-16">
        <p class="colo text-orange-500">UPCOMING EVENT</p>
        <h3 class="text-2xl font-bold mt-3">
          THE MARRIED JANUARY 2023 EDITION
        </h3>
        <p class="mt-3">THEME:fight for your home</p>
        <div class="time-container mt-3 flex gap-2">
          <img src="./../../../assets/event/Clock icon.svg" />
          <div class="mt-3">
            <p>Saturday 9:00 AM live</p>
            <p>Saturday 9:00 AM live</p>
          </div>
        </div>
        <div class="adress-container mt-3 flex gap-2">
          <img src="./../../../assets/event/circle.svg" />
          <div class="mt-3">
            <p>
              Former Coppers lodge,Catholic Junction Area along Adeyemi college
              of Education ondo state Nigeria
            </p>
          </div>
        </div>
        <button
          class="md:bg-plpmDark text-plpmCard h-9 w-28 mt-6 font-semibold md:rounded-xl"
        >
          <a [routerLink]="'1'"> Register </a>
        </button>
      </div>
    </div>
    <img class="w-full md:w-3/6 lg:w-4/6" src="/assets/images/dmarried_1.png" />
  </section>
  <div class="flex justify-end mr-3 md:mr-11 mt-4 md:mt-10">
    <p>View Detail and register</p>
    <img src="./../../../assets/event/Arrow.svg" />
  </div>
  <h3 class="text-3xl mb-16 font-bold text-center mt-12 md:mt-24">
    VIEW ALL EVENTS
  </h3>
  <section class="w-11/12 m-auto flex flex-col md:flex-row md:justify-between">
    <div class="card-one pt-7 mb-6 w-full md:w-cardwidth">
      <div class="text-right mr-8">
        <p class="font-bold text-2xl">20</p>
        <p class="font-medium text-sm">JULY</p>
      </div>
      <div class="card-content pl-8 pr-5 pb-20">
        <p class="text-orange-500">UPCOMING EVENT</p>
        <h3 class="text-2xl font-bold mt-3">100 RANDOM ACTS OF KINDNESS</h3>
        <p class="mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <div class="time-container mt-3 flex gap-2">
          <img src="./../../../assets/event/Clock icon.svg" />
          <div class="mt-3 text-sm">
            <p>Friday 23:39 IST</p>
            <p>Saturday 11:20 IST</p>
          </div>
        </div>
        <div class="adress-container mt-3 flex gap-2">
          <img src="./../../../assets/event/circle.svg" />
          <div class="text-sm mt-3">
            <p>No 233 Main St. New York,</p>
            <p>United States</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-two bg-plpmCard pt-7 mb-6 w-full md:w-cardwidth">
      <div class="text-right mr-8">
        <p class="font-bold text-2xl">20</p>
        <p class="font-medium text-sm">JULY</p>
      </div>
      <div class="card-content pl-8 pr-5 pb-20">
        <p class="text-orange-500">UPCOMING EVENT</p>
        <h3 class="text-2xl font-bold mt-3">
          FAITH IS A PROCESS, NOT A DESTINATION
        </h3>
        <p class="mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <div class="time-container mt-3 flex gap-2">
          <img src="./../../../assets/event/Clock icon.svg" />
          <div class="mt-3 text-sm">
            <p>Friday 23:39 IST</p>
            <p>Saturday 11:20 IST</p>
          </div>
        </div>
        <div class="adress-container mt-3 flex gap-2">
          <img src="./../../../assets/event/circle.svg" />
          <div class="text-sm mt-3">
            <p>No 233 Main St. New York,</p>
            <p>United States</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-three bg-plpmCard pt-7 mb-6 w-full md:w-cardwidth">
      <div class="text-right mr-8">
        <p class="font-bold text-2xl">20</p>
        <p class="font-medium text-sm">JULY</p>
      </div>
      <div class="card-content pl-8 pr-5 pb-20">
        <p class="text-orange-500">UPCOMING EVENT</p>
        <h3 class="text-2xl font-bold mt-3">THERE IS NOTHING IMPOSSIBLE</h3>
        <p class="mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <div class="time-container mt-3 flex gap-2">
          <img src="./../../../assets/event/Clock icon.svg" />
          <div class="mt-3 text-sm">
            <p>Friday 23:39 IST</p>
            <p>Saturday 11:20 IST</p>
          </div>
        </div>
        <div class="adress-container mt-3 flex gap-2">
          <img src="./../../../assets/event/circle.svg" />
          <div class="text-sm mt-3">
            <p>No 233 Main St. New York,</p>
            <p>United States</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-four bg-plpmCard pt-7 mb-6 w-full md:w-cardwidth">
      <div class="text-right mr-8">
        <p class="font-bold text-2xl">20</p>
        <p class="font-medium text-sm">JULY</p>
      </div>
      <div class="card-content pl-8 pr-5 pb-20">
        <p class="text-orange-500">UPCOMING EVENT</p>
        <h3 class="text-2xl font-bold mt-3">WATCH AND LISTEN TO OUR SERMON</h3>
        <p class="mt-3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </p>
        <div class="time-container mt-3 flex gap-2">
          <img src="./../../../assets/event/Clock icon.svg" />
          <div class="mt-3 text-sm">
            <p>Friday 23:39 IST</p>
            <p>Saturday 11:20 IST</p>
          </div>
        </div>
        <div class="adress-container mt-3 flex gap-2">
          <img src="./../../../assets/event/circle.svg" />
          <div class="text-sm mt-3">
            <p>No 233 Main St. New York,</p>
            <p>United States</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
