<div class="w-full bg-white flex flex-col gap-10 parent">
  <div class="flex flex-col w-full gap-10 my-20">
    <div
      class="flex md:w-full md:h-[400px] bg-container-2 md:justify-center items-center"
    >
      <div
        class="hidden md:block md:h-[320px] bg-inner items-center md:w-[680px] justify-center"
      >
        <h1 class="text-white font-bold text-3xl text-center mt-8 leading-8">
          Prayer Request
        </h1>
        <p class="text-white text-center text-[19px] font-medium mt-20">
          When you need help, call on God through prayer. You can simply use our
          online prayer form here to send in your prayer requests.
        </p>
      </div>
      <h1 class="md:hidden block text-black font-semibold text-2xl mt-8">
        Prayer Request
      </h1>
    </div>
    <div
      class="fordonate w-[95%] mx-[2.5%] flex lg:flex-row flex-col md:items-start items-center pb-20 lg:justify-between lg:gap-24"
    >
      <div class="mt-[50px] md:mt-[80px] md:ml-20 ml-10">
        <h2 class="text-[#6C6C6C] text-2xl lg:text-3xl font-semibold mb-5">
          Prayer Request
        </h2>
        <span class="text-[#6C6C6C]">Kindly send your Prayer Request to:</span>
        <div class="flex flex-col mt-5">
          <span class="text-[#6C6C6C]">Prayer Line</span>
          <div
            class="mt-4 cont h-[90px] w-[250px] flex justify-center items-center"
          >
            <h6><span class="text-[#38B449]">Account No:</span>+23434860967</h6>
          </div>
          <div
            class="mt-4 cont h-[90px] w-[250px] flex justify-center items-center"
          >
            <h6><span class="text-[#38B449]">Phone No:</span>+23434860967</h6>
          </div>
          <div
            class="mt-4 cont h-[90px] w-[250px] flex justify-center items-center"
          >
            <h6><span class="text-[#38B449]">Phone No:</span>+23434860967</h6>
          </div>
          <div
            class="mt-4 cont h-[90px] w-[250px] flex justify-center items-center"
          >
            <h6><span class="text-[#38B449]">Phone No:</span>+23434860967</h6>
          </div>
        </div>
      </div>

      <form
        class="w-full flex flex-col mt-[20px] md:mt-[160px] lg:mr-10 md:ml-20"
      >
        <span class="text-[#6C6C6C] mb-4 md:ml-0 ml-[5%]"
          >Details of Request</span
        >
        <textarea
          class="h-[200px] w-[90%] mx-[5%] md:mx-0 md:w-[500px] rounded-[8px]"
        >
        </textarea>
        <span class="text-[#6C6C6C] mt-8 md:ml-0 ml-[5%]"
          >Your Information</span
        >
        <input
          class="mx-[5%] w-[90%] md:w-[500px] md:mx-0 my-5"
          type="text"
          placeholder="First name"
        />
        <input
          class="mx-[5%] w-[90%] md:w-[500px] md:mx-0 my-5"
          type="text"
          placeholder="Last name"
        />
        <input
          class="mx-[5%] w-[90%] md:w-[500px] md:mx-0 my-5"
          type="email"
          placeholder="email"
        />
        <button
          class="md:ml-0 ml-[5%] submit w-[120px] bg-[#38b449] text-white"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>

  <div class="flex flex-col w-full gap-10">
    <div
      class="flex md:w-full md:h-[400px] bg-container md:justify-center items-center"
    >
      <div
        class="hidden md:block md:h-[320px] bg-inner items-center md:w-[680px] justify-center"
      >
        <h1 class="text-white font-bold text-3xl text-center mt-8 leading-8">
          Donate to Perfect Liberty Power Ministry
        </h1>
        <p class="text-white text-center text-[19px] font-medium mt-20">
          Your support in prayers and donation will go a long way in reaching
          out to many,and in fulfiling God's vission for the ministry.
        </p>
      </div>
      <h1 class="md:hidden block text-black font-semibold text-2xl mt-8">
        Donate to Perfect Liberty Power Ministry
      </h1>
    </div>
    <div class="w-[95%] mx-[2.5%]">
      <p class="leading-[32px] text-[#6C6C6C] font-normal">
        Perfect Liberty Power Ministry(PLPM) relies on donations to engage in
        its work for transformation of the church and the world. By giving, you
        participate in God bussiness as giving is an act of sacrifies. You can
        donate and support church work or donate to assist in our various
        special particular programme of the Perfect Liberty Power Ministry(PLPM)
        or Donate to our reaching out to many. Your support in prayers and
        donation will go a long way in reaching out to many,and in fulfiling
        God's vission for the ministry.
      </p>
    </div>
    <div
      class="fordonate w-[95%] mx-[2.5%] flex lg:flex-row flex-col md:items-start items-center pb-20 lg:justify-between lg:gap-24"
    >
      <div class="mt-[50px] md:mt-[80px] md:ml-20 ml-10">
        <h2 class="text-[#6C6C6C] text-2xl lg:text-3xl font-semibold mb-5">
          Donate to Perfect Liberty Power Ministry
        </h2>
        <span class="text-[#6C6C6C]">Kindly send your donation/Gift to:</span>
        <div class="flex flex-col mt-5">
          <span class="text-[#6C6C6C]"
            >Account Name:UBA PLC(united bank for African</span
          >
          <div
            class="mt-4 cont h-[90px] w-[250px] flex justify-center items-center"
          >
            <h6><span class="text-[#38B449]">Phone No:</span>+23434860967</h6>
          </div>
        </div>

        <div class="flex flex-col mt-5">
          <span class="text-[#6C6C6C]"
            >For more or other information please contact:</span
          >
          <div
            class="mt-4 cont h-[90px] w-[300px] flex justify-center items-center"
          >
            <h6>
              <span class="text-[#38B449]">Phone No:</span>+234-803-486-0967
            </h6>
          </div>
        </div>

        <div class="flex flex-col mt-5">
          <span class="text-[#6C6C6C]">Email us at:</span>
          <div
            class="mt-4 cont h-[90px] w-[95%] md:w-[400px] flex justify-center items-center"
          >
            <h6 class="text-[#38B449]">
              perfectlibertypowerministry@gmail.com
            </h6>
          </div>
        </div>
        <div class="flex flex-col gap-5 mt-10">
          <span class="text-[#6C6C6C]"
            >I would like my Donation/Gift to go:</span
          >
          <form class="flex flex-col">
            <span class="text-[#6C6C6C]"
              ><input class="mr-3" type="radio" />donate and support church
              work</span
            >
            <span class="text-[#6C6C6C]"
              ><input class="mr-3" type="radio" />donate to assist in our
              various special particular programme</span
            >
          </form>
        </div>
      </div>

      <form
        class="w-full flex flex-col mt-[20px] md:mt-[160px] lg:mr-10 md:ml-20"
      >
        <span class="text-[#6C6C6C] mb-4 md:ml-0 ml-[5%]"
          >Comments/special allocation</span
        >
        <textarea
          class="h-[200px] w-[90%] mx-[5%] md:mx-0 md:w-[500px] rounded-[8px]"
        >
        </textarea>
        <span class="text-[#6C6C6C] mt-8 md:ml-0 ml-[5%]"
          >Your Information</span
        >
        <input
          class="mx-[5%] w-[90%] md:w-[500px] md:mx-0 my-5"
          type="text"
          placeholder="First name"
        />
        <input
          class="mx-[5%] w-[90%] md:w-[500px] md:mx-0 my-5"
          type="text"
          placeholder="Last name"
        />
        <input
          class="mx-[5%] w-[90%] md:w-[500px] md:mx-0 my-5"
          type="email"
          placeholder="email"
        />
        <button
          class="md:ml-0 ml-[5%] submit w-[120px] bg-[#38b449] text-white"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
